x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "1m"
    max-file: "1"
    tag: "{{.Name}}"

services:
  mt5:
    build:
      context: .
      dockerfile: backend/mt5/Dockerfile
    container_name: mt5
    ports:
      - "5001:5001"  # API port
      - "3000:3000"  # VNC port (if needed for debugging)
    volumes:
      - ./config:/config
    env_file:
      - .env
    restart: unless-stopped
    logging: *default-logging